.header-wrapper{
    .header-top{
        background-color: #e3e4e5;
        .main-box{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 30px;
        }
        .city-panel{
            display: flex;
            align-items: center;
            font-size: 12px;
            color: #999;
            cursor: pointer;
            i{
                margin-right: 5px;
                color: $themeColor;
                font-size: 14px;
            }
        }
        .login-panel{
            display: flex;
            align-items: center;
            span{
                font-size: 12px;
                color: #999;
                padding: 0 10px;
                line-height: 1;
                cursor: pointer;
            }
            .register{
                color: $themeColor;
                border-right: 1px solid #999;
            }
        }
    }
    .header-bottom{
        .logo-wrap{
            position: relative;
            display: flex;
            align-items: center;
            height: 100px;
            .logo{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 120px;
                height: 60px;
                background-color: #ddd;
            }
            .search-panel{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                .search-el{
                    display: flex;
                    align-items: center;
                    width: 550px;
                    border: 2px solid $themeColor;
                    input[type="text"]{
                        padding-left: 15px;
                        border: 0;
                        height: 30px;
                        flex-grow: 1;
                        box-sizing: border-box;
                    }
                    .el-icon-search{
                        width: 55px;
                        height: 32px;
                        line-height: 32px;
                        background-color: $themeColor;
                        color: #fff;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 20px;
                        cursor: pointer;
                    }
                }
                .hot-search{
                    display: flex;
                    align-items: center;
                    margin-top: 8px;
                    .item{
                        font-size: 12px;
                        color: #999;
                        cursor: pointer;
                        &:not(:first-child){
                            margin-left: 10px;
                        }
                    }
                }
            }
            .release-panel{
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                .primary-btn{
                    min-width: 170px;
                    height: 40px;
                    font-size: 15px;
                    i{
                        font-size: 20px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .navbar-panel{
        background-color: $themeColor;
        .navbar{
            display: flex;
            align-items: center;
            .nav-item{
                position: relative;
                flex: 1;
                padding: 0 14px;
                height: 45px;
                line-height: 45px;
                font-size: 16px;
                color: #fff;
                text-align: center;
                cursor: pointer;
                transition: all .3s ease-in-out;
                &:not(:first-child){
                    &:before{
                        content: '';
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        height: 16px;
                        border-left: 1px solid #fff;
                    }
                }
                &:hover{
                    background-color: #006dab;
                    transition: all .3s ease-in-out;
                }
            }
        }
    }
}